/* Catalogo.css */
.catalogo-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  background-color: #f8f9fa;
}

.catalogo-container::-webkit-scrollbar {
  height: 12px;
}

.catalogo-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.catalogo-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 180px; /* Adjust the height as needed */
  object-fit: cover; /* This will ensure that the image covers the area nicely */
}

.card-body {
  padding: 15px;
}

.card-title {
  margin-bottom: 15px;
  font-size: 1rem; /* Você pode ajustar isso conforme necessário */
  overflow: hidden; /* Mantém o texto dentro do container */
  white-space: normal; /* Permite que o texto ocupe mais de uma linha */
  word-wrap: break-word; /* Quebra palavras longas que não cabem na largura do card */
}

.card-text {
  font-size: 1rem; /* Ajuste conforme necessário */
  color: #6c757d; /* Cor padrão do texto */
  overflow: hidden; /* Mantém o texto dentro do container */
  white-space: normal; /* Permite que o texto ocupe mais de uma linha */
  word-wrap: break-word; /* Quebra palavras longas que não cabem na largura do card */
}

.course-card {
  width: 20rem; /* Aumentado de 18rem para 20rem */
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

