.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar {
    box-shadow: 0 4px 8px rgba(0,0,0,.2); /* A sombra foi intensificada e espalhada mais amplamente */
  }

  .navbar-logo {
    height: 100px; /* ou você pode usar width se quiser controlar o tamanho pela largura */
  }  
  
  .nav-link {
    margin-right: 1rem;
    transition: color .3s ease;
    font-size: 1.15rem; /* Aumente o tamanho da fonte conforme necessário */
  }
  
  .nav-link:last-child {
    margin-right: 0;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  